{% extends 'base.html' %}

{% block conteudo %}
    <form id="formLogin" >
        <br/><br/>
        Login: <input type = "text" id="login" name="login"><br/><br/>
        Senha  : <input type = "text" id = "senha" name="senha"><br/><br/>
        <button type = "submit">OK</button> <br/><br/>
        <div id="mensagem" style="display: none;"></div>
    </form>

    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/forms.js') }}"></script>

{% endblock %}