{% extends 'base.html' %}

{% block conteudo %}
    {% with mensagens = get_flashed_messages() %}
        {% if mensagens %}
            <ul>
            {% for msg in mensagens %}
                <li style="color:red">{{ msg }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="/autenticar" method="POST">
        <br/><br/>
        Usuário: <input type="text" name="nome_usuario"><br/><br/>
        Senha  : <input type="text" name="senha"><br/><br/>
        <button type="submit">OK</button>
    </form>
{% endblock %}